<script src="https://go247.online/SDK/OnlinePayment"></script>
<script>
   net247.button.create({
      origin: 'https://go247.online',
      style:{
         color:'dark',
         label:'Paga con',
         border: 'normal',
         displayLogo: true
      },
      createOrder: function (actions) {
         var montozelle = parseFloat(document.getElementById("monto").value);
         return actions.order.create({
            // amount: "1.00",
            amount: montozelle.toFixed(2),
            id: "eyJpZCI6Ik5XWm1Oak5sTkdVMll6ZzJNMlJqT0dFNE1HVm1NR0kxIiwidXJsIjoiY2FzaC1mbGFnLmNvbSJ9",
            tender: "links",
            language: "es",
            methods: "creditCard,zelle",
            customTheme:"1621377507698"
         });
      },
      onApprove: function () {
         // alert("Transacción aprobada!");
         document.getElementById("origen").value = "vivo";
         document.getElementById("referencia").value = "zelle";
         enviardatos();
      },
      onDecline: function () {
         alert("Transacción rechazada!\nVerifica los datos y la disponibilidad e intentalo de nuevo");
      }
   });
   document.getElementById("payment-button-247").style.marginTop = "0";
</script>
